
%h1=t("hello")
/
  - if current_user
    = current_user.full_name #note use of delegate here
    = link_to "logout", logout_path, class: "btn btn-default btn-sm", method: :delete
  - else
    = link_to "Sign in", login_path, class: "btn btn-default"
    Below would be used for multi-language support:
    = link_to t("buttons.signin"), login_path, class: "btn btn-default"
    = link_to "Sign up", signup_path, class: "btn btn-default"




= link_to content_tag(:h4, 'Create Campaign', class: "glyphicon glyphicon-plus"),
  new_campaign_path,
  class: "btn-lg btn-primary",
  method: :get,
  data: { confirm: "Create new Account?" }

%br
.pad10
#campaign-view.modal.fade

//Renders partial
#campaigns= render "campaigns_with_pagination"
