%fieldset
  = f.input :title
  = f.input :details
  = f.input :amount
  = f.input :_destroy, as: :hidden
  = link_to "Remove", "javascript:void(0)", class: "remove-reward-level"
  %hr


/replaced by above due to application helper method:
/  = link_to "Add Reward Level", "javascript: void(0)", class: "btn btn-default"