%h1= @commentable.title
%p= @commentable.details

%div{class: label_class(@commentable.state)}
  = @commentable.state.capitalize
%hr


= render "/comments/listing_with_new"

/ .col-md-3.col-sm-3
/   - @campaign.reward_levels.each do |reward_level|
/     .well
/     %h4= reward_level.title
/     %h5 $ #{reward_level.amount}
/     %p= reward_level.details

